.score-calculator-input-areas {
    display: flex; 
    gap: 15px;
}

.positions-input-area {
    width: 50%;
}

#positions-input, #track-names-input, #team-names-input {
    width: 100%;
    height: 230px;
}

#track-names-input {
    height: 165px;
}

#team-names-input {
    height: 36px;
}

.result-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    border-radius: 10px;
    padding: 5px;
    background-color: var(--box-area-bg-color);
}

.result-box {
    border: var(--button-outline);
    background-color: var(--bg-color);
    padding: 10px;
    margin: auto;
    width: 100vw;
    border-radius: 10px;
    position: relative;
    font-size: 0.8em;
}

.result-box h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

.points-diff {
    text-align: center;
    width: 250px;
    margin: auto 15px;
}

.score-graph {
    height: 400px;
}

@media screen and (max-width: 767px) {
    .score-calculator-input-areas {
        display: unset;
    }

    .positions-input-area {
        width: 100%;
    }

    #positions-input, #track-names-input {
        height: 100px;
    }
    
    .result-container {
        flex-wrap: wrap;
    }

    .result-box {
        width: 100%;
    }

    .points-diff {
        margin: 15px;
    }
}