.score-calculator-input-areas {
    display: flex; 
    gap: 15px;
}

.positions-input-area {
    width: 50%;
}

#positions-input, #track-names-input, #team-names-input {
    width: 100%;
    height: 230px;
}

#track-names-input {
    height: 165px;
}

#team-names-input {
    height: 36px;
}

.result-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    border-radius: 10px;
    padding: 5px;
    background-color: var(--box-area-bg-color);
}

.result-box {
    border: 1px solid #ccccccaa;
    background-color: var(--bg-color);
    padding: 10px;
    margin: auto;
    width: 100vw;
    border-radius: 10px;
    position: relative;
    font-size: 0.9em;
}

.result-box h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

.points-diff {
    text-align: center;
    width: 250px;
    margin: auto 15px;
}

.score-graph {
    height: 400px;
}

.diff-pos {
    color: #1DBC60;
}

.diff-neg {
    color: #FF0000;
}

.diff-neutral {
    color: orange;
}

#extra-info {
    display:flex;
    justify-content:center;
}

.extra-info-box {
    border: 1px solid #ccccccaa;
    border-radius: 10px;
    padding: 15px;
    width: 605px;
    margin: 10px 0;
    overflow: hidden;
}

.extra-info-box[open] .track-frequency {
    margin: 10px 0 0;
}

.extra-info-box summary {
    font-weight: bold;
    cursor: pointer;
    margin-left: 10px;
}

.extra-info-box summary:hover {
    text-decoration: underline;
}

@media screen and (max-width: 767px) {
    .score-calculator-input-areas {
        display: unset;
    }

    .positions-input-area {
        width: 100%;
    }

    #positions-input, #track-names-input {
        height: 100px;
    }
    
    .result-container {
        flex-wrap: wrap;
    }

    .result-box {
        width: 100%;
    }

    .points-diff {
        margin: 15px;
    }
}