body {
    max-width: 1920px;
    margin: 0 auto;
}

#loading-area {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    overflow: hidden;
    transition: opacity 0.5s ease-in-out;
    z-index: 1;
}

.loading-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

#loading-bar {
    opacity: 0;
    margin-top: 15px;
    width: 250px;
    border-left: 0px solid var(--text-color);
    height: 4px;
    background-color: transparent;
    transition: opacity 0.5s ease-in-out;
}

.loading-tip {
    text-align: center;
    margin: 0;
}

#editing-area {
    opacity: 0;
    z-index: 5;
    display: flex;
    flex: 1;
    font-size: 16px;
    transition: opacity 1s ease-in-out;
}

.page-area-container {
    width: 1000px;
}

#page-area {
    padding: 15px;
    margin: 0 auto;
    border: 2px solid var(--accent-color);
    width: calc(100vw - 40px);
    max-width: calc(800px - env(safe-area-inset-left));
}

#editing-tools {
    position: fixed;
    right: 0;
    width: calc(100vw - 1000px);
    max-width: calc(600px - env(safe-area-inset-left));
    height: 100vh;
    color: #fff;
    background-color: var(--accent-color);
    padding: 15px;
}

.elements-edit {
    float: right;
}

.elements-move:hover {
    text-decoration: underline;
}

#editBox {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-height: 80%;
    width: 80%;
    max-width: 550px;
    padding: 10px;
    color: #fff;
    background-color: var(--settings-box-color);
    border-radius: 10px;
    z-index: 10;
    box-shadow: var(--settings-shadow);
    outline: 2px solid #ffffff50;
    animation: boxOpen 0.2s;
    overflow-y: auto;
    will-change: transform;
}

#editBGBlur {
    z-index: 10;
}

.edit-box-close-button {
    position: absolute;
    float: right;
    top: 15px;
    right: 10px;
}

svg {
    width: 18px;
    height: 18px;
    fill: #fff;
    margin-left: 2px;
    margin-bottom: -1px;
    vertical-align: middle;
    cursor: pointer;
}

.edit-ui-field {
    width: 100%;
    height: 50px;
}

.iframe-wrapper iframe {
    background-color: var(--accent-color);
    border: 1px solid var(--text-color);
    padding: 30px;
}

.iframe-wrapper {
    padding: 5px;
}

@media screen and (max-width: 1199px) {
    #page-area {
        margin-bottom: 30vh;
    }

    #editing-tools {
        right: unset;
        bottom: 0;
        width: calc(100vw - 30px);
        max-width: unset;
        height: 25%;
    }
}