.calendar {
    max-width: 375px;
    margin: 0 auto;
    border: var(--button-outline);
    border-radius: 10px;
    overflow: hidden; /* Ensures the border-radius applies to child elements */
}

.calendar-header {
    padding: 10px;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.calendar-body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.day {
    aspect-ratio: 1/1; /* Makes cells square (equal width and height) */
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
}

/* Adjust font size and abbreviate text on smaller screens */
@media (max-width: 767px) {
    .day {
        font-size: clamp(4px, 4vw, 14px);        /* Slightly smaller font */
    }
}

.today {
    font-weight: bold;
    border: 2px solid var(--text-color);
}

.logged {
    cursor: pointer;
    border: 2px solid #ff00d4;
    background-color: #571150;
}