
.calendar {
    flex: 0 0 375px;
    height: fit-content;
    border-radius: 10px;
    overflow: hidden;
    padding: 20px;
    border:1px solid #cccccc2f;
}

#expandedLog {
    margin-top: 20px;
    min-width: 100px;
}

.month {
    display: flex;
    align-items: center;
}

.month-name {
    font-size: 30px;
    margin: 0 auto;
    font-weight: 600;
}


.month-arrow:hover {
    cursor: pointer;
    color: var(--accent-color);
    transition: 0.2s;

}

@media screen and (max-width: 767px) {
    .calendar-container {
        display: unset;
        flex-wrap: wrap;
        height: unset;
    }

    .calendar {
        min-width: unset;
        margin: 0 auto;
    }

    #expandedLog {
        margin-top: 15px;
        max-width: unset;
    }
}

.calendar-header {
    padding: 10px;
}

.calendar-body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.day-header {
    font-weight: 600;
    opacity: 0.6;
    display: flex;
    padding: 5px;
    margin: 2px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}

.day {
    aspect-ratio: 3/2;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border:1px solid #cccccc7f;
    background-color:#cccccc0f;
    margin: 2px;
    border-radius: 5px;
    font-weight: bold;
    user-select: none;
}

.empty {
    opacity: 0.2;
}

/* Adjust font size and abbreviate text on smaller screens */
@media (max-width: 767px) {
    .day {
        font-size: clamp(4px, 4vw, 14px);        /* Slightly smaller font */
        aspect-ratio: 2/3;
    }

}

.logged {
    cursor: pointer;
}

.today {
    font-weight: bold;
    background-color: var(--accent-color);
    color: white;
}

.logged:hover {
    background-color: #cccccc6f;
    cursor: pointer;
    transition: 0.2s;
}

.color-bar-container {
    display: flex;
    align-items: center;
    margin: 5px 0;
    
}

.team-color-bar {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    border:1px solid #cccccc4f;
    margin-right: 3px;
}