
.calendar {
    flex: 0 0 375px;
    height: fit-content;
    border-radius: 10px;
    overflow: hidden;
    padding: 20px;
    border: 1px solid #cccccccc;
}

#expandedLog {
    margin-top: 20px;
    min-width: 100px;
}

.month {
    display: flex;
    align-items: center;
}

.month-name {
    font-size: 30px;
    margin: 0 auto;
    font-weight: 600;
    user-select: none;
    transition: 0.1s ease-in-out;
}

.month-arrow {
    font-size: 25px;
    transition: 0.1s ease-in-out;
}

.month-arrow:hover:not(.empty), .month-name:hover:not(.empty) {
    cursor: pointer;
    color: var(--accent-color);
}

.calendar-header {
    padding: 10px;
}

.calendar-body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 4px;
}

.day-header {
    font-weight: 600;
    opacity: 0.6;
    display: flex;
    padding: 5px;
    margin: 2px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}

.empty {
    opacity: 0.3;
}

.day {
    aspect-ratio: 3/2;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccccccaa;
    background-color: #cccccc1f;
    border-radius: 5px;
    font-weight: bold;
    user-select: none;
    padding: 10px;
    transition: background-color 0.2s
}

.day:not(.empty):not(.today):hover {
    background-color: #cccccc6f;
}

.day.selected {
    /* background-image: url("../assets/media/calendar/mikuheadshake.gif"); */
    /* background-size: cover; */
    /* background-position: center; */
    background-color: #F0185130!important;
    outline: 1px solid #F01851D0;
    border: 1px solid #F01851D0;
}

.day.selected:hover {
    background-color: #F0185180!important;
}

.today {
    /* background-image: url("../assets/media/calendar/today.gif");  I'll design a better gif for this at some point */
    background-size: cover;
    background-position: center;
    background-color: var(--accent-color);
    color: white;
}

.today:hover {
    background-color: #e9436f;
}

.logged:hover {
    cursor: pointer;
}

.color-bar-container {
    display: flex;
    align-items: center;
    margin: 2px 0;   
}

.team-color-bar {
    width: 15px;
    height: 5px;
    border: 1px solid #cccccc4f;
}

@media screen and (max-width: 767px) {
    .calendar {
        flex: 0 0 100%;
        height: fit-content;
        padding: 15px;
    }

    .month-arrow {
        font-size: 20px;
    }

    .month-name {
        font-size: clamp(10px, 7vw, 30px);
    }

    .calendar-body {
        gap: clamp(1px, 1vw, 5px);
    }

    .day-header {
        margin: 0px;
        font-size: clamp(5px, 2.5vw, 16px)    
    }

    .day {
        aspect-ratio: 1;
        padding: 0px;
        margin: 0px;
        font-size: clamp(1px, 3vw, 16px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .color-bar-container {
        margin: 0.5px;
    }

    .team-color-bar {
        width: clamp(3px, 2vw, 15px);
        height: clamp(1px, 0.5vw, 5px);
        margin: 0;
    }
}