.color-picker {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
}

.coloris {
    width: 75px;
    height: 25px;
    border: 1px solid #ccccccaa;
    background-color: var(--box-area-bg-color);
    border-radius: 5px;
}

.square .clr-field button {
    left: 0px;
    right: auto;

}

.square .clr-field input {
    padding-left: 48px;
}

#colorWheel {
    float: right;
}

@media (max-width: 767px) {
    #colorWheel {
        float: unset;
        max-width: 100%!important;
        height: auto!important;
    }
}