#discordRoleiFrame {
    height: 308px;
    width: 250px;
    border-radius: 10px;
    outline: 1px solid var(--text-color);
}

.color-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

#colorPicker {
    height: 50px;
    width: 50px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    border-radius: 5px;
    margin:5px;
}

#colorPicker:hover {
    outline: 1px solid var(--text-color);
    transition: 0.2s;
}

.discordRolePreviewContainer {
    min-height: 340px;
}

.discordRolePreview {
    padding: 0 0 0 1vw;
    float: right;
}

#cheepCheepRoleiFrame {
    height: 250px;
    width: 500px;
    border-radius: 10px;
    outline: 1px solid var(--text-color);
}

/* For mobile devices */
@media (max-width: 767px) {
    #discordRoleiFrame, #cheepCheepRoleiFrame {
        width: 100%;
    }

    .discordRolePreview, .cheepCheepRolePreview {
        float: none;
        margin-top: 0;
        width: auto;
        padding: 15px 0;
    }

    .cheepCheepRolePreview {
        padding: 0;
    }
}