#discordRoleiFrame {
    height: 308px;
    width: 250px;
    border-radius: 10px;
    outline: 1px solid #ccccccaa;
}

.discordRolePreviewContainer {
    min-height: 340px;
}

.discordRolePreview {
    padding: 0 0 0 1vw;
    float: right;
}

#cheepCheepRoleiFrame {
    height: 250px;
    width: 500px;
    border-radius: 10px;
    outline: 1px solid #ccccccaa;
}

/* For mobile devices */
@media (max-width: 767px) {
    #discordRoleiFrame, #cheepCheepRoleiFrame {
        width: 100%;
    }

    .discordRolePreview, .cheepCheepRolePreview {
        float: none;
        margin-top: 0;
        width: auto;
        padding: 15px 0;
    }

    .cheepCheepRolePreview {
        padding: 0;
    }
}