@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    background: #fff;
    color: #fff;

    display: flex;
    align-items: end;
    flex-direction: column;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 35px;
    margin: 19px 10px 0 0;
    text-shadow: 0 0 15px rgba(0, 0, 0, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

@keyframes growText {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.25);
    }

    100% {
        transform: scale(1);
    }
}

.grow {
    display: inline-block;
    animation: growText 1.55s ease;
}

.liveteamlogo {
    height: 30px;
    width: auto;
    margin: 0 5px;
    vertical-align: middle;
    filter: drop-shadow(0 0 15px rgba(0, 0, 0, 1));
}

.liveErrorMessage {
    font-size: 10px;
    line-height: 10px;
    margin-right: 50px;
}