@font-face {
    font-family: "SF-Pro-Display-Heavy";
    src: url("../assets/pythongraphics/fonts/SF-Pro/SF-Pro-Display-Heavy.otf");
}

@font-face {
    font-family: "SF-Pro-Display-Bold";
    src: url("../assets/pythongraphics/fonts/SF-Pro/SF-Pro-Display-Bold.otf");
}

body {
    font-family: "SF-Pro-Display-Bold", sans-serif;
    background: #fff;
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: "SF-Pro-Display-Heavy", sans-serif;
    font-size: 35px;
    margin: 19px 0 0 0;
    text-shadow: 0 0 15px rgba(0, 0, 0, 1);
}

@keyframes growText {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}

.grow {
    display: inline-block;
    animation: growText 0.5s ease;
}