@font-face {
    font-family: "SF-Pro-Display-Heavy";
    src: url("../assets/pythongraphics/fonts/SF-Pro/SF-Pro-Display-Heavy.otf");
}

@font-face {
    font-family: "SF-Pro-Display-Bold";
    src: url("../assets/pythongraphics/fonts/SF-Pro/SF-Pro-Display-Bold.otf");
}

body {
    font-family: "SF-Pro-Display-Bold", sans-serif;
    background: #fff;
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: "SF-Pro-Display-Heavy", sans-serif;
    font-size: 35px;
    margin: 19px 0 0 0;
    text-shadow: 0 0 15px rgba(0, 0, 0, 1);
}