.team-match-history {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.team-match-card {
    border: 1px solid #ccccccaa;
    border-radius: 8px;
    padding: 12px;
    
    display: flex;
    flex-direction: column;
}

.test-match {
    opacity: 50%;
}

.match-card-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    height:100%;
}

.match-score {
    color: white;
    font-weight: bold;
    margin-left: auto;
    height: 100%;
    padding: auto;
    border-radius: 5px;

    font-size: 15px;
    min-width: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.match-score.win {
    background-color: green;
}

.match-score.loss {
    background-color: red;
}

.match-score.draw {
    background-color: grey;
}


hr {
    margin: 12px 0;
}

.match-details-wrapper {
    display: flex;
}

.match-details-wrapper #match-date {
    margin-left: auto;
}