.team-match-history {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.team-match-card {
    border: 1px solid #ccccccaa;
    border-radius: 8px;
    padding: 12px;
    
    display: flex;
    flex-direction: column;
}

.test-match {
    opacity: 0.6;
    border: 1px solid #cccccc45;
    border-radius: 8px
}

.match-card-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    height:100%;
}

.match-score {
    color: #FFF;
    font-weight: bold;
    margin-left: auto;
    height: 100%;
    padding: auto;
    border-radius: 5px;

    font-size: 15px;
    min-width: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.match-score.win {
    background-color: #00ce7a;
}

.match-score.loss {
    background-color: #ff6874;
}

.match-score.draw {
    background-color: rgb(175, 175, 175);
}

.match-score.live {
    border: 1px solid #ccccccaa;
    background-color: #FFF;
}

hr {
    margin: 12px 0;
}

.match-details-wrapper {
    display: flex;
}

.match-details-wrapper #match-date {
    margin-left: auto;
}

.live-dot-adjusted {
    margin-left: 0;
    margin-right: 5px;
}

@media (max-width: 600px) {
    .match-card-wrapper {
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
    }

    .match-score {
        margin-left: 0;
        padding: 5px 10px;
    }

    .match-details-wrapper {
        flex-direction: column;
        gap: 5px;
    }

    .match-details-wrapper #match-date {
        margin-left: 0;
    }
}