:root,
:root.light-theme {
    --settings-box-color: #ffffffA5;
    --settings-shadow: 0 0 1rem #0f0f0f;
    --settings-extra-info: #00000080;
}

@media (prefers-color-scheme: dark) {
    :root {
        --settings-box-color: rgba(0, 0, 0, 0.6);
        --settings-shadow: 0 0 1rem #e9e9e986;
        --settings-extra-info: #ffffff80;    
    }
}

:root.dark-theme {
    --settings-box-color: rgba(0, 0, 0, 0.6);
    --settings-shadow: 0 0 1rem #e9e9e986;
    --settings-extra-info: #ffffff80;
}

/* Settings */
#settingsBox {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-height: 80%;
    width: 80%;
    max-width: 550px;
    padding: 10px;
    background-color: var(--settings-box-color);
    border-radius: 10px;
    z-index: 5;
    box-shadow: var(--settings-shadow);
    animation: boxOpen 0.15s cubic-bezier(0.22, 0.61, 0.36, 1);
    overflow-y: auto;
}

.BGBlur {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.20);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    animation: BGBlurOn 0.15s ease-in-out;
}

.setting-options {
    line-height: 1.5;
}

.settings-title {
    font-weight: 600;
    text-align: center;
    margin: 5px;
}

.setting-sub-heading {
    font-weight: 600;
    margin-top: 10px;
    line-height: 1;
}

.settings-box-close-button {
    position: absolute;
    float: right;
    top: 15px;
    right: 15px;
}

.settings-extra-info {
    font-style: italic;
    font-weight: normal;
    color: var(--settings-extra-info);
}

.settings-option {
    float: right;
    margin-left: 50px;
}

.hidden {
    display: none;
}

.hide-settings-box {
    animation: boxClose 0.1s ease-in-out !important;
    opacity: 0;
    visibility: hidden;
}

.settingsBoxOpener {
    cursor: pointer;
}

#settingsBox hr, .settings-hr {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
}

.setting-selectable {
    user-select: all;
    -webkit-user-select: all;
}

@keyframes boxOpen { 0% { opacity: 0; transform: translate(-50%, -50%) scale(0.95); } 100% { opacity: 1; transform: translate(-50%, -50%) scale(1); } }
@keyframes BGBlurOn { 0% { opacity: 0; } 100% { opacity: 1; } }
@keyframes boxClose { 0% { opacity: 1; transform: translate(-50%, -50%) scale(1); visibility: visible; } 99% { opacity: 0; transform: translate(-50%, -50%) scale(0.95); visibility: visible; } 100% { opacity: 0; transform: translate(-50%, -50%) scale(0.95); visibility: hidden; } }