@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root,
:root.light-theme {
    --text-color: #111111;
    --hr-color: #111111A0;
    --bg-color: #fff;

    --accent-color: #bc0839;

    --link-color: #fa5252;
    --link-hover-color: #ffb4b4;
    --highlight-color: #f5255cA0;

    --button-color: #fa5252;
    --button-background: rgba(255, 255, 255, 0.1);
    --button-border: 1px solid rgba(0, 0, 0, 0.3);
    --button-outline: 2px solid rgba(0, 0, 0, 0.6);

    --code-color: #000;
    --code-bg-color: rgba(0, 0, 0, 0.02);
    --code-border: 1px solid rgba(0, 0, 0, 0.6);

    --metion-color: #3246b4;

    --box-area-bg-color: rgba(0, 0, 0, 0.02);
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color: #fff;
        --hr-color: #ffffffA0;
        --bg-color: #111111;
    
        --accent-color: #bc0839;
    
        --link-color: #fa5252;
        --link-hover-color: #fff;
        --highlight-color: #BC0839D0;
    
        --button-color: #fa5252;
        --button-background: rgba(0, 0, 0, 0.4);
        --button-border: 1px solid rgba(255, 255, 255, 0.3);
        --button-outline: 2px solid rgba(255, 255, 255, 0.6);
    
        --code-color: #fff;
        --code-bg-color: rgba(0, 0, 0, 0.3);
        --code-border: 1px solid rgba(255, 255, 255, 0.2);
    
        --metion-color: #98acff;

        --box-area-bg-color: rgba(255, 255, 255, 0.03);
    }
}

:root.dark-theme {
    --text-color: #fff;
    --hr-color: #ffffff80;
    --bg-color: #111111;

    --accent-color: #bc0839;

    --link-color: #fa5252;
    --link-hover-color: #fff;
    --highlight-color: #BC0839D0;

    --button-color: #fa5252;
    --button-background: rgba(0, 0, 0, 0.4);
    --button-border: 1px solid rgba(255, 255, 255, 0.3);
    --button-outline: 2px solid rgba(255, 255, 255, 0.6);

    --code-color: #fff;
    --code-bg-color: rgba(0, 0, 0, 0.3);
    --code-border: 1px solid rgba(255, 255, 255, 0.2);

    --metion-color: #98acff;

    --box-area-bg-color: rgba(255, 255, 255, 0.03);
}

/*adjust mobile text inflation*/
html {
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

body,
button,
input,
textarea,
select {
    font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: var(--text-color);
    background-color: var(--bg-color);
    text-decoration: none;
    word-wrap: break-word;
}

main {
    margin: 0 auto;
    flex: 1;
    width: calc(100vw - 40px);
    max-width: calc(800px - env(safe-area-inset-left));
    margin-top: 65px;
    margin-bottom: 20px;
    font-size: 16px;
}

h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 1.8em;
}

.p-below-title {
    margin: 0;
}

.p-no-spacing {
    margin-top: 0;
}

.after-title {
    margin-top: 0.5em;
}

.h-below-ul {
    margin-top: 1em;
}

footer {
    color: #FFF;
    background-color: var(--accent-color);
    text-align: center;
    padding: 5px;
    z-index: 1;
    transition: background-color 0.2s ease-in-out;
}

[id] {
    scroll-margin-top: 60px; /* fix anchors */
}

/* nav bar */
.navbar-container *,
.navbar-container *::before,
.navbar-container *::after,
.nav-bar *,
.nav-bar *::before,
.nav-bar *::after {
    padding: 0;
    margin: 0;
}

.navbar-container {
    background-color: var(--accent-color);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 5;
    transition: background-color 0.2s ease-in-out;
}

.navbar-container .nav-bar {
    max-width: min(800px, calc(100% - env(safe-area-inset-left) - env(safe-area-inset-right)));
    justify-content: space-between;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 40px);
    max-width: 800px;
    margin: auto;
}

.nav-bar-title {
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-bar-title h1,
.nav-bar-title h2 {
    margin-left: 5px;
}

.nav-bar-logo {
    height: 35px;
    width: 35px;
}

.nav-bar ul {
    display: flex;
}

.nav-bar ul li {
    list-style-type: none;
}

.navbar-container .nav-bar ul li {
    margin: 0 2px;
    padding: 15px 0px 15px 0px;
}

.nav-flex a {
    color: #fff !important;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}

.nav-selected {
    background-color: #ffffff20;
    outline: #ffffff83 solid 1px;
}

.nav-flex a:hover {
    background-color: #ffffff56;
    transition: 0.1s;
}

.nav-flex a:active {
    background-color: #ffffff80;
    transition: 0.1s;
}

.nav-dropdown {
    display: none;
}

/* Mobile styles */
@media screen and (max-width: 767px) {
    .nav-bar {
        height: 48px;
    }

    .nav-bar ul {
        display: none;
    }
    
    .nav-dropdown-button {
        color: white;
        cursor: pointer;
        font-size: 22px;
        padding-left: 25vw;
    }
    
    .nav-dropdown {
        position: relative;
        display: inline-block;
    }
    
    .nav-dropdown-content {
        display: none;
        position: absolute;
        right: -15px;
        background-color: var(--accent-color);
        min-width: 160px;
        z-index: 1;
        border: 2px solid rgba(255, 255, 255, 0.6);
        border-radius: 10px;
    }
    
    .nav-dropdown-content a {
        color: #fff !important;
        text-decoration: none;
        padding: 12px 16px;
        display: block;
        border-radius: 8px;
    }
    
    .nav-dropdown:hover .nav-dropdown-content {
        display: block;
    }
    
    .nav-dropdown-content a:hover {
        background-color: #f54876;
    }
}

/* Desktop styles - hide dropdown button */
@media screen and (min-width: 768px) {
    .dropdown-button {
        display: none !important;
    }
}

.rounding {
    border-radius: 10px;
}

.image {
    width: 100%;
    border-radius: 10px;
}

.anchor {
    margin-right: 2px;
    color: #fff;
    text-decoration: none;
}

::selection {
    background-color: var(--highlight-color)
}

a:link {
    color: var(--link-color);
    transition: color 0.10s;
}

a:visited {
    color: var(--link-color);
}

a:hover {
    color: var(--link-hover-color);
}

.no-color-link {
    color: #FFF!important;
}

.no-underline-link {
    color: var(--text-color)!important; 
    text-decoration: none;
    transition: none!important;
}

.no-underline-link-footer {
    text-decoration: none;
}

.credit-socials {
    margin: 2px 0;
    display: flex;
    gap: 5px;
}

@media (prefers-reduced-motion) {
    a:link {
        transition: none;
    }
}

a[target="_blank"]::after {
    content: "";
    width: 1em;
    height: 1em;
    margin: 0 0em 0.1em 0.15em;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' %3E%3Cpath d='M9 2v1h3.3L6 9.3l.7.7L13 3.7V7h1V2ZM4 4c-1.1 0-2 .9-2 2v6c0 1.1.9 2 2 2h6c1.1 0 2-.9 2-2V7l-1 1v4c0 .6-.4 1-1 1H4c-.6 0-1-.4-1-1V6c0-.6.4-1 1-1h4l1-1Z' style='fill:%23fa5252'/%3E%3C/svg%3E");
    background-size: contain;
    display: inline-block;
    vertical-align: sub;
}

a[target="_blank"].nav-bar-link::after {
    content: "";
    width: 1em;
    height: 1em;
    margin: 0 0em 0.1em 0.15em;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' %3E%3Cpath d='M9 2v1h3.3L6 9.3l.7.7L13 3.7V7h1V2ZM4 4c-1.1 0-2 .9-2 2v6c0 1.1.9 2 2 2h6c1.1 0 2-.9 2-2V7l-1 1v4c0 .6-.4 1-1 1H4c-.6 0-1-.4-1-1V6c0-.6.4-1 1-1h4l1-1Z' style='fill:%23FFFFFF'/%3E%3C/svg%3E");
    background-size: contain;
    display: inline-block;
    vertical-align: sub;
}

.box {
    border: 1px solid var(--text-color);
    border-radius: 10px;
    padding: 15px;
}

/*button*/
button {
    background: var(--button-background);
    font-weight: 600;
    border-radius: 5px;
    font-size: 15px;
    color: var(--button-color);
    border: var(--button-border);
    cursor: pointer;
    transition: transform 0.1s, color 0.08s, outline 0.05s;
}

button:active {
    transform: scale(0.95);
}

@media (prefers-reduced-motion) {
    button:active {
        transform: none;
    }
}

button:hover,
button:focus {
    color: var(--text-color) !important;
    outline: var(--button-outline);
}

/* code */
code,
.codeBox,
.codeBoxTight,
mention {
    font-family: Cascadia Code, FMono-Regular, Consolas, DejaVu Sans Mono, Liberation Mono, Menlo, monospace !important;
}

code {
    color: var(--code-color);
    font-size: 15px;
    padding: 2px 5px;
    background-color: var(--code-bg-color);
    border: var(--code-border);
    border-radius: 5px;
    -webkit-user-select: all;
    user-select: all;
}

.codeBox {
    font-size: 14px;
    padding: 15px;
    line-height: 1.6;
    background-color: rgba(15, 15, 15, 0.5);
    outline: 1px solid rgba(255, 255, 255, 0.3);
    /* -webkit-backdrop-filter: blur(15px); */
    /* backdrop-filter: blur(15px); */
    border-radius: 10px;
    color: #fff;
}

.codeBoxTight {
    font-size: 14px;
    padding: 10px;
    margin-bottom: 10px;
    line-height: 1.6;
    background-color: rgba(15, 15, 15, 0.5);
    outline: 1px solid rgba(255, 255, 255, 0.3);
    /* -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px); */
    border-radius: 10px;
    color: #fff;
}

mention {
    color: var(--metion-color);
    font-size: 15px;
    padding: 2px 5px;
    background-color: rgba(88, 101, 242, 0.25);
    border: 1px solid rgba(152, 172, 255, 0.6);
    border-radius: 5px;
    -webkit-user-select: all;
    user-select: all;
}

tag {
    color: var(--metion-color);
    font-size: 15px;
    padding: 1px 6px;
    background-color: rgba(88, 101, 242, 0.25);
    border: 1px solid rgba(152, 172, 255, 0.6);
    border-radius: 5px;
    -webkit-user-select: all;
    user-select: all;
}

mention::selection, tag::selection {
    background-color: rgba(88, 101, 242, 0.5);
}

.tag-link {
    text-decoration: none;
}

.tag-link-text:hover {
    color: #FFF!important;
    text-decoration: none;
    transition: color 0.10s;
}

.season-selection {
    display: flex;
    flex-direction: column;
    background-color: #cccccc1f;
    border: 1px solid #cccccc;
    border-radius: 10px;
    padding: 10px;
    margin: 20px 0;
}

#season-select {
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    font-weight: bold;
    margin-bottom: 5px;
    outline: none;
}

.current-season-area {
    display: flex;
}

#current-season {
    margin: 5px;
}

#shareButton {
    margin-left: 5px;
}

#listViewButton{
    margin-left: auto;
}

@media screen and (max-width: 767px) {
    .current-season-area {
        display: unset;
    }

    #shareButton {
        margin-left: unset;
    }

    #listViewButton{
        margin-left: unset;
    }
}

.teamBoxContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15px;
    row-gap: 15px;
}

.teamBox {
    border: 1px solid #cccccc;
    border-radius: 10px;
    padding: 20px;
    min-width: 300px;
    width: 100%;
    color: inherit;
    -webkit-user-select: none;
    user-select: none;
}

.teamBox:active {
    transform: scale(0.95);
    transition: transform 0.1s;
}

@media screen and (max-width: 767px) {
    .teamBoxContainer {
        grid-template-columns: 1fr;
    }
}

#JSTeamBox {
    margin-bottom: 20px;
}

.positionBox {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: 25px;
}

.team {
    padding-left: 10px;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-left: 8px solid #FFF
}

.team-logo {
    width: 40px; 
    height: 40px;
}

hr {
    margin: 20px 0;
    height: 2px;
    border-width: 0;
    background-color: var(--hr-color);
    color: var(--hr-color);
}

hr.hr-below-title {
    margin-top: 0.5em;
    margin-left: auto;
    margin-right: auto;
}

.indent {
    padding-left: 20px;
}


/*blockquote*/
blockquote {
	border-left: 5px solid rgba(255, 102, 102, 0.9);
	padding: 15px;
	margin-left: 0px;
	margin-right: 0px;
	background-color: rgba(0, 0, 0, 0.4);
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 10px;
}

.miniquote {
	border-left: 3px solid rgb(255, 255, 255, 0.8);
	background-color: rgba(0, 0, 0, 0.5);
	width: fit-content;
	border: 0;
	border-radius: 0;
	padding: 10px;
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
}

.success {
	border: 2px solid rgba(8, 255, 111, 0.5);
	background-color: rgba(8, 255, 111, 0.3);
}

.info {
	border: 2px solid rgba(33, 150, 243, 0.5);
	background-color: rgba(33, 150, 243, 0.3);
}

.warning {
	border: 2px solid rgba(255, 152, 0, 0.5);
	background-color: rgba(255, 152, 0, 0.3);
}

.fail {
	border: 2px solid rgba(253, 60, 26, 0.5);
	background-color: rgba(253, 60, 26, 0.3);
}

.rainbow {
	border-left: 0px;
	border: 1px solid rgba(253, 60, 26, 0.5);
	box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, 0.2);
	animation: rainbow 4s infinite;
}

@keyframes rainbow{0%,100%{border-color:rgba(255,0,0,.7);background-color:rgba(255,0,0,.15)}8%{border-color:rgba(255,127,0,.7);background-color:rgba(255,127,0,.15)}16%{border-color:rgba(255,255,0,.7);background-color:rgba(255,255,0,.15)}25%{border-color:rgba(127,255,0,.7);background-color:rgba(127,255,0,.15)}33%{border-color:rgba(0,255,0,.7);background-color:rgba(0,255,0,.15)}41%{border-color:rgba(0,255,127,.7);background-color:rgba(0,255,127,.15)}50%{border-color:rgba(0,255,255,.7);background-color:rgba(0,255,255,.15)}58%{border-color:rgba(0,127,255,.7);background-color:rgba(0,127,255,.15)}66%{border-color:rgba(0,0,255,.7);background-color:rgba(0,0,255,.15)}75%{border-color:rgba(127,0,255,.7);background-color:rgba(127,0,255,.15)}83%{border-color:rgba(255,0,255,.7);background-color:rgba(255,0,255,.15)}91%{border-color:rgba(255,0,127,.7);background-color:rgba(255,0,127,.15)}}

/* news */
.news-wrapper {
    border-radius: 10px;
    border: 1px solid #cccccccc;
    overflow: hidden; /* This contains the scrollbar within the rounded corners */
}

.news-container {
    display: flex;
    flex-direction: row;
    padding: 0 5px 5px 5px;
    overflow: auto;
}

.news-container::-webkit-scrollbar {
    height: 5px;
}

.news-container::-webkit-scrollbar-thumb {
    background-color: #cccccc7c;
}

.news-container::-webkit-scrollbar-thumb:hover {
    background-color: #ccccccb4;
}

.news-container::-webkit-scrollbar-thumb:active {
    background-color: #cccccc;
}

.news-container::-webkit-scrollbar-track {
    background-color: #cccccc48;
}

.news-container-override {
    max-width: 702px;
    margin: 0 auto;
	flex-wrap: wrap;
    background-color: unset;
    
}

.news-box {
    border: 1px solid #ccccccaa;
    padding: 10px;
    margin: 0 5px 2px 5px;
    min-width: 200px;
    width: 200px;
    height: 250px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    isolation: isolate;
    contain: paint;
    background-color: var(--box-area-bg-color);
}

.news-box .news-image img,
.news-box .news-image video,
.news-box .news-image video {
	width: 220px;
    height: 110px;
    position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
    opacity: 0;
    transition: opacity 0.2s ease-in;
    object-fit: cover;
    overflow-clip-margin: unset;
}

.news-box .news-text {
	color: var(--text-color);
	position: absolute;
	bottom: 35px;
	margin-right: 5px;
}

.news-box .news-title {
	font-size: 20px;
	font-weight: bold;
	line-height: 1;
}

.news-box .news-desc {
    font-size: 15px;
    line-height: 1.25;
    display: inline-block;
}

.news-box .news-date {
	position: absolute;
	left: 0;
	bottom: 0;
	margin-left: 10px;
	margin-bottom: 10px;
    opacity: 0.8;
    width: max-content;
}

.news-credits {
    margin-top: 5px;
    font-size: 0.9em;
    font-style: italic;
}

/* next match box */
.match-container {
    display: flex;
    justify-content: center;
    align-items: center; /* Vertically center items */
    flex-wrap: wrap;
    
    border-radius: 10px;
    border: 1px solid #ccccccaa;
    padding: 10px;
}

.match-details-box {
    display: flex;
    gap: 20px;
}

.match-container.special {
    animation: rainbow 4s linear infinite;
}

.team-box {
    flex: 1;
    min-width: 50px;
    max-width: 300px;
    margin: auto;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
}

.team-box-image {
    height: 25vw;
    width: 25vw;
    max-height: 100px;
    max-width: 100px;
}

.vs-box {
    flex: 0 0 105px;
    font-size: 30px;
    padding: 10px;
    text-align: center;
}

#JSTeamBox {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

#JSTeamBox.fade-in {
    opacity: 1;
}

#current-season {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

#current-season.fade-in {
    opacity: 1;
}

.team-info {
    border: 1px solid #ccccccaa;
    border-radius: 10px;
    display: flex;
    gap: 20px;
    padding: 20px;
}

.team-info-table {
    border-collapse: separate;
    width: 100%;
}

.current-season-info {
    margin-top: 10px;
    border: 1px solid #ccccccaa;
    border-radius: 10px;
    padding: 12px;
}

.heading-wrapper {
    display: flex;
}

.green-dot {
    width: 10px;
    height: 10px;
    background-color: var(--accent-color);
    margin: auto 0;
    margin-left: 12px;
    border-radius: 50%;
    box-shadow: 0 0 0 0 rgba(188, 8, 57, 0.7);
    animation: green-dot-pulse 2.0s infinite;
}

@keyframes green-dot-pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(188, 8, 57, 0.7);
    }
    70% {
        box-shadow: 0 0 0 8px rgba(188, 8, 57, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(188, 8, 57, 0);
    }
}

.team-info-table td {
    padding: 0;
    width: 50%;
}

.team-info-table .table-key {
    font-weight: bold;
    vertical-align: top;
}

.team-info-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.team-info .map {
    width: 100%;
    display: flex;
    border-radius: 10px;
    border: 1px solid #ccccccaa;
    background-color: #ccccccbb;
}

.team-info .map img {
    width: 95%;
    height: auto;
    margin: 10px auto;
}

.team-info-logo {
    margin: 0 auto;
    width: 200px;
}

@media screen and (max-width: 767px) {
    .team-info {
        flex-direction: column;
    }
}

@media screen and (max-width: 767px) {
    .team-box h3 {
        font-size: clamp(14px, 4vw, 20px);
    }

    .vs-box {
        flex: 0 0 45px;
        font-size: 14px;
        padding: 0px;    
    }
}

@media screen and (max-width: 340px) {
    .team-box h3 {
        font-size: 20px;
    }

    .team-box {
        flex: unset;
        min-width: unset;
        max-width: unset;    
        width: 100vw;
    }
}

.match-detail-container {
    gap: 10px;
    align-items: center;
}

.info-container {
	display: flex;
	justify-content: center;
    text-align: center;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
    background-color: var(--box-area-bg-color);
    border: 1px solid #ccccccaa;
    width: 100vw;
}

.test-disclaimer {
    font-style: italic;
}

.result-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
    background-color: var(--box-area-bg-color);
}

.result-box {
    border: var(--button-outline);
    background-color: var(--bg-color);
    padding: 10px;
    margin: auto;
    width: 100vw;
    border-radius: 10px;
    position: relative;
}

.points-diff {
    text-align: center;
    width: 250px;
    margin: auto 30px;
}

@media screen and (max-width: 767px) {
    .result-container {
        flex-wrap: wrap;
    }

    .result-box {
        width: 100%;
    }

    .points-diff {
        margin: 15px;
    }
}

.settingsBoxOpener {
    transform: rotate(-60deg);
    transition: transform 0.2s ease-in-out;
}

.settingsBoxOpener:hover {
    transform: rotate(0deg);
    transition: transform 0.2s ease-in-out;
}

.settingsBoxOpener:active {
    transform: rotate(-180deg);
    transition: transform 0.2s ease-in-out;
}

.fa:hover, .fa-brands:hover {
    opacity: 0.7;
    transition: 0.1s ease-in-out;
}

.fa:active, .fa-brands:active {
    opacity: 1;
    transition: 0.1s ease-in-out;
}

/* Rules */
.rule-section, .sub-rule-section {
    margin-top: 10px;
    margin-left: 30px;
}

.rule-number {
    margin-right: 10px;
    font-weight: bold;
}

/* Branding */
.h-below-image {
    margin-top: 25px;
}

.brand-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand-element {
    margin: 10px;
    border-radius: 15px;
    width: 100%;
    height: 150px;
    padding: 20px;
}

.brand-logo {
    margin: auto;
    display: block;
}

.brand-standard {
    background-color: var(--accent-color);
    color: white;
}

.brand-white {
    background-color: white;
    outline: 1px solid #00000050;
    color: var(--accent-color);
}

.image-container {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 767px) {
    .brand-container {
        flex-direction: column;
    }

    .brand-element {
        padding: 0px;
    }

    .brand-element-text {
        padding: 10px;
    }
}

.rules-box {
    border: 1px solid #cccccccc;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
}

#currentTeamColors {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-top: 5px;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #ccccccaa;
    background-color: var(--box-area-bg-color);
}

.color-box {
    width: 35px;
    aspect-ratio: 1 / 1;
    border-radius: 5px;
    margin: 2px;
    opacity: 0;
    animation: fadeIn 0.2s ease-in-out forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.team-list-view-table {
    width: 100%;
    border-spacing: 0;
    margin: 20px 0;
    border: 1px solid #cccccc;
    border-radius: 10px;
    overflow: hidden;
}

.team-list-view-table th {
    border-radius: 10px;
}

.team-list-view-table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

.team-list-view-table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

.team-list-view-table th:nth-child(1),
.team-list-view-table td:nth-child(1) {
    width: 30px;
    text-align: center;
}

.team-list-view-table th:nth-child(3),
.team-list-view-table td:nth-child(3) {
    width: 50px;
    text-align: center;
}

.team-list-view-table th:nth-child(4),
.team-list-view-table td:nth-child(4) {
    width: 75px;
    text-align: center;
}

.team-list-view-table th:nth-child(5),
.team-list-view-table td:nth-child(5) {
    width: 50px;
    text-align: center;
}

.team-list-view-table thead {
    color: var(--text-color);
    text-align: left;
}

.team-list-view-table th {
    padding: 15px 20px;
    font-weight: bold;
    font-size: 0.85rem;
}

.team-list-view-table tbody tr:last-child {
    border-bottom: none;
}

.team-list-view-table tbody tr {
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.team-list-view-table tbody tr:hover {
    background-color: var(--link-color) !important;
}

.team-list-view-table tbody tr:active {
    transform: scale(0.95);
    transition: transform 0.1s, color 0.08s;
}

.team-list-view-table td {
    padding: 8px 20px;
    font-size: 0.95rem;
    -webkit-user-select: none;
    user-select: none;
}

.team-list-view-table td:first-child {
    font-weight: bold;
    font-size: 18px;
}

.team-list-full-institution {
    font-weight: normal;
}

.team-name-grid-flex {
    display: flex;
    align-items: center;
}

.team-text-flex {
    margin-left: 15px;
}

.team-logo-grid {
    width: 35px; 
    height: 35px;
}


@media screen and (max-width: 767px) {
    .team-list-view-table th {
        padding: 10px 5px;
    }

    .team-list-view-table td {
        padding: 5px;
    }

    .team-list-full-institution {
        display: none;
    }

    .team-list-view-table th {
        font-size: clamp(0.6rem, 3vw, 0.85em);
    }

    .team-list-view-table td {
        font-size: clamp(0.6rem, 2.5vw, 0.95em);
    }

    .team-text-flex {
        margin-left: 5px;
    }

    .team-logo-grid {
        width: 25px; 
        height: 25px;
    }
}

#creditGenerate {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

#creditGenerate.fade-in {
    opacity: 1;
}

.credits-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.credits-title {
    margin-top: 0.5em;
    margin-bottom: 0.2em;
}

.credit-container {
    border: 1px solid #ccccccaa;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    gap: 10px;
}

.credit-container img {
    border-radius: 5px;
}

@media screen and (max-width: 767px) {
    .credits-wrapper {
        display: flex;
        flex-direction: column;
    }
}