:root.dark-theme {
    --standings-bg-color: #111111;
    --standings-box-bg-color: #111111;
    --standings-text-color: #fff;
}

.teamStandingsBox {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 15px;
    
    color: var(--standings-text-color);
    background-color: var(--standings-bg-color);
    border: 1px solid #ccccccaa;
    min-height: 100px;
    border-radius: 10px;

    font-family: "Montserrat";
}

.teamStandingsBox .teamStanding {
    display: flex;
    gap: 7px;
    padding: 10px;
    cursor: pointer;
    border: 1px solid #ccccccaa;
    background-color: var(--standings-box-bg-color);
    height: 50px;
    align-items: center;
    border-radius: 10px;
    transition: background-color 0.2s ease, outline 0.2s ease, color 0.2s ease;
}

.teamStandingsBox .teamStanding:hover {
    color: #fff;
    background-color: var(--accent-color) !important;
}

.teamStandingsBox .teamStanding:active {
    transform: scale(0.95);
    transition: transform 0.1s;
}

.teamStandingsBox .teamPosition {
    display: flex;
    color: #fff;
    background-color: #bc0839;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    height: 50px;
    width: 50px;
}

.teamStandingsBox .teamStanding:hover .teamPosition {
    background-color: white;
    color: var(--accent-color);
    transition: 0.2s;
}



.teamStandingsBox .teamColour {
    border-radius: 5px;
    margin-left: 2px;
    width: 12px;
    height: 50px;
}
 
.teamStandingsBox .teamLogo {
    margin-left: 5px;
    height: 50px;
    width: 50px;
    opacity: 0;
    transition: opacity 0.2s ease-in;
}

.teamStandingsBox .teamName {
    margin-left: 6px;
    font-size: 42px;
}

.teamStandingsBox .teamPointsArea {
    margin-left: auto;
    margin-right: 10px;
    text-align: right;
    line-height: 1;
}

.teamStandingsBox .teamPointsArea .teamPoints {
    font-size: 35px;
}

.teamStandingsBox .teamPointsArea .teamStandings {
    font-size: 14.5px;
}


.season-selection {
    display: flex;
    flex-direction: column;
    background-color: #cccccc10;
    border: 1px solid #ccccccaa;
    border-radius: 10px;
    padding: 10px;
    margin: 20px 0;
}

#season-select {
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid #ccccccaa;
    font-weight: bold;
    margin-bottom: 5px;
    outline: none;
}

.current-season-area {
    display: flex;
}

#current-season {
    margin: 5px;
}

#shareButton {
    margin-left: 5px;
}

#listViewButton{
    margin-left: auto;
}

.teamBoxContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15px;
    row-gap: 15px;
}

.teamBox {
    border: 1px solid #cccccc;
    border-radius: 10px;
    padding: 20px;
    min-width: 300px;
    width: 100%;
    color: inherit;
    -webkit-user-select: none;
    user-select: none;
}

.teamBox:active {
    transform: scale(0.95);
    transition: transform 0.1s;
}

.positionBox {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: 25px;
}



.team {
    padding-left: 10px;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-left: 8px solid #FFF
}

.team-logo {
    width: 40px; 
    height: 40px;
    opacity: 0;
    transition: opacity 0.2s ease-in;
}

@media screen and (max-width: 767px) {
    .current-season-area {
        display: unset;
    }

    #shareButton {
        margin-left: unset;
    }

    #listViewButton{
        margin-left: unset;
    }

    .teamStandingsBox {
        padding: 10px;
        gap: clamp(0.25rem, 1.5vw, 5em);
    }

    .teamStandingsBox .teamStanding {
        gap: clamp(0.25rem, 1.0vw, 5em);
        padding: 5px;
        border-radius: 5px;
        height: clamp(0.75rem, 7.5vw, 5em);
    }

    .teamStandingsBox .teamPosition {
        border-radius: 2.5px;
        font-size: clamp(0.5rem, 5.25vw, 5em);
        height: clamp(1rem, 7.5vw, 5em);
        width: clamp(1rem, 7.5vw, 5em);
    }

    .teamStandingsBox .teamColour {
        margin-left: 0;
        width: clamp(0.25rem, 1.875vw, 5em);
        height: clamp(1rem, 7.5vw, 5em);
    }
    
    .teamStandingsBox .teamLogo {
        margin-left: 0;
        height: clamp(0.25rem, 7.5vw, 5em);
        width: clamp(0.25rem, 7.5vw, 5em);
    }

    .teamStandingsBox .teamName {
        margin-left: 0;
        font-size: clamp(0.25rem, 6.075vw, 5em);
    }

    .teamStandingsBox .teamPointsArea {
        margin-right: 5px;
        line-height: 0.8;
    }

    .teamStandingsBox .teamPointsArea .teamPoints {
        font-size: clamp(0.5rem, 6vw, 5em);
    }

    .teamStandingsBox .teamPointsArea .teamStandings {
        font-size: clamp(0.25rem, 3.0vw, 5em);
    }

    .teamBoxContainer {
        grid-template-columns: 1fr;
    }
}