.article-main .bubble-link-wrapper {
    margin-bottom: 20px;
}


.article-wrapper {
    display: flex;
    gap: 24px;

    margin-bottom: 50px;
}

.article-content {
    flex: 3;
}

.article-header {
    display: flex;
    flex-direction: column;
    gap: 24px;

    margin-bottom: 12px;
}

.article-main h1 {
    line-height: 0.85;
}

.article-subtitle {
    font-size: 1.1em;
}

.article-main p {
    font-size: 1.1em;
}

.article-body p {
    margin-bottom: 24px;
}

img {
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.article-image-wrapper {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.article-body .article-image-wrapper {
    max-width: 80%;
}

.article-image-caption {
    width: 100%;
    opacity: 0.8;
}

.article-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.8em;

    margin-bottom: 24px;
}

.article-meta {
    flex: 1;
    width: 100%;
    height: 100%;
    display: grid;
}

.article-meta .article-meta-item {
    padding: 20px;
    border-bottom: 1px solid var(--translucent-color);
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.article-meta-heading {
    opacity: 0.5;
    font-size: 0.8em;
    font-weight: 600;
}

.article-meta-item:last-child {
    border-bottom: none;
}


@media screen and (max-width: 900px) {
    .article-wrapper {
        flex-direction: column;
    }
}
