.fixed-width-column {
    width: 150px;
}

.match-team {
    display: flex;
    align-items: center;
    gap: 10px;
}

.standings-row:hover {
    background-color: var(--translucent-color);
}

.standings-row:hover .column-team {
    text-decoration: none;
}

.team-a {
    justify-content: right;
}

.team-b {
    justify-content: left;
}

.column-vs {
    text-align: center;
    width: 0;
}

.column-score {
    text-align: center;
}

.column-result {
    text-align: center;
}